@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
    Layout= "~/Views/Shared/_HomeLayout.cshtml";
}
@model Contact
<div class="site-wrap">

   

    <div class="hero-slide owl-carousel site-blocks-cover">
        <div class="intro-section" style="background-image: url('https://img.freepik.com/free-vector/delivery-courier-service-flat-composition-with-cityscape-delivery-boy-riding-bike-with-smartphone-tracking-app-vector-illustration_1284-74349.jpg?t=st=1709285566~exp=1709289166~hmac=1025e0335ef6a8c3696996c8c55c899ce382c814a90845ce231098b0645a9eea&w=1480');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 ml-auto text-right" data-aos="fade-up">
                        <h1>Reliable Courier Services</h1>
                        <p>Trust us to deliver your parcels safely and on time. Experience seamless shipping solutions tailored to your needs.</p>
                        <p><a href="#Service" class="btn btn-primary py-3 px-5">Explore Services</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro-section" style="background-image: url('https://img.freepik.com/free-vector/illustrated-delivery-service-with-masks_23-2148493018.jpg?t=st=1709285629~exp=1709289229~hmac=7f49fbbed602e9dd6a090e01dcbc7896fc428b381289472ccb0b2170bd35d659&w=1380');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mx-auto text-center" data-aos="fade-up">
                        <h1>Fast and Efficient Delivery</h1>
                        <p>Need urgent delivery? Our express service ensures swift transportation of your packages to any destination.</p>
                        <p><a href="#Contact" class="btn btn-primary py-3 px-5">Learn More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END slider -->


    <div id="About" class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="https://i.ibb.co/xD6268n/3497810.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <span class="text-serif text-primary">About Us</span>
                    <h3 class="heading-92913 text-black">Welcome To Flyer Express</h3>
                    <p>At Flyer Express, we're dedicated to delivering excellence in every parcel, package, and letter entrusted to us. With a commitment to reliability, efficiency, and customer satisfaction, we ensure that your deliveries reach their destination safely and on time, every time.</p>
                    
                </div>
            </div>
        </div>
    </div>



    

    <div id="Service" class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center">
                    <span class="text-serif text-primary">Services</span>
                    <h3 class="heading-92913 text-black text-center">Flyer Express Parcel Service</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <img src="https://img.freepik.com/free-vector/city-skyline-concept-illustration_114360-9073.jpg?size=626&ext=jpg&ga=GA1.1.1395880969.1709164800&semt=ais" alt="Image" class="img-fluid">
                        <div class="p-4">
                            <h3><a href="#"></span>Inside Dhaka</a></h3>
                            <div class="d-flex">
                                <div class="mr-auto">
                                    <span class="icon-date_range"></span>
                                    0-1 KG - Regular
                                </div>
                                <div class="ml-auto price">
                                    <span class="bg-primary">70 BDT</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <img src="https://img.freepik.com/free-photo/flat-lay-shipping-boxes-arrangement_23-2148790086.jpg?w=1060&t=st=1709283795~exp=1709284395~hmac=2e1333667adb5d52f69d00638d870a8388e08141964e23c6f159e1204b4c1c4f" alt="Image" class="img-fluid">
                        <div class="p-4">
                            <h3><a href="#"><span class="icon-room mr-1 text-primary"></span>Sub Dhaka</a></h3>
                            <div class="d-flex">
                                <div class="mr-auto">
                                    <span class="icon-date_range"></span>
                                    0-1 KG - Regular
                                </div>
                                <div class="ml-auto price">
                                    <span class="bg-primary">90 BDT</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <img src="https://img.freepik.com/free-vector/hand-drawn-transport-truck-delivery-man_23-2149145974.jpg?t=st=1709284054~exp=1709287654~hmac=de2c0fbbb776950ae699294413ddf7af0d41e56dbf43bc298257c366589724e9&w=1380" alt="Image" class="img-fluid">
                        <div class="p-4">
                            <h3><a href="#"><span class="icon-room mr-1 text-primary"></span>Out Side Dhaka</a></h3>
                            <div class="d-flex">
                                <div class="mr-auto">
                                    <span class="icon-date_range"></span>
                                    0-1 KG - Regular
                                </div>
                                <div class="ml-auto price">
                                    <span class="bg-primary">120 BDT</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <img src="https://img.freepik.com/free-vector/delivery-service-with-masks-concept_52683-36420.jpg?t=st=1709284120~exp=1709287720~hmac=434f3648a185b9756492d7d7039d4f86513638ff7022a7caf197e5c8b3918929&w=1380" alt="Image" class="img-fluid">
                        <div class="p-4">
                            <h3><a href="#"><span class="icon-room mr-1 text-primary"></span>In Dhaka Emergency</a></h3>
                            <div class="d-flex">
                                <div class="mr-auto">
                                    <span class="icon-date_range"></span>
                                    0-1 KG - 12 Hours 
                                </div>
                                <div class="ml-auto price">
                                    <span class="bg-primary">100 BDT</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-39381">
                        <img src="https://img.freepik.com/free-vector/courier-delivered-boxes-businessman_74855-6333.jpg?t=st=1709284137~exp=1709287737~hmac=713abe87ae683734c4af7345b397195b1db4a68a44d6acf8e9f23131bd2f2387&w=1380" alt="Image" class="img-fluid">
                        <div class="p-4">
                            <h3><a href="#"><span class="icon-room mr-1 text-primary"></span>P2P Parcel</a></h3>
                            <div class="d-flex">
                                <div class="mr-auto">
                                    <span class="icon-date_range"></span>
                                    0-1 KG - Regular
                                </div>
                                <div class="ml-auto price">
                                    <span class="bg-primary">200-250 BDT</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>

    <div id="Contact" class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <p><img src="https://img.freepik.com/free-vector/flat-design-illustration-customer-support_23-2148887720.jpg?t=st=1709285274~exp=1709288874~hmac=ac8838f11059558045b1f18335216dfbeeaaf13f77b09382d3e8f18e13d760fe&w=740" alt="Image" class="img-fluid"></p>
                </div>
                <div class="col-md-5">
                    <span class="text-serif text-primary">Contact Us</span>
                    <h3 class="heading-92913 text-black">Get in Touch</h3>
                    <form method="post" enctype="multipart/form-data" class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="Name" name="Name" for="Name">Your Name:</label>
                            <input asp-for="Name" type="text" class="form-control" id="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Email" name="Email" for="Email">Your Email:</label>
                            <input asp-for="Email" type="email" class="form-control" id="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-12">
                            <label asp-for="ContactNumber" name="ContactNumber" for="ContactNumber">Contact:</label>
                            <input asp-for="ContactNumber" type="text" class="form-control" id="ContactNumber">
                            <span asp-validation-for="ContactNumber" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-12">
                            <label asp-for="Subject" name="Subject" for="Subject">Subject:</label>
                            <input asp-for="Subject" type="text" class="form-control" id="Subject">
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-12">
                            <label asp-for="Message" name="Message" for="Message">Message:</label>
                            <textarea asp-for="Message" id="Message" cols="30" rows="5" class="form-control"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>


                        <div class="form-group col-md-12">
                            <input asp-action="Home" type="submit" class="btn btn-primary py-3 px-5" value="Send Message">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



    

    <div class="site-section bg-image overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="text-white">Get In Touch With Us</h2>
                    <p class="lead text-white">For reliable and efficient courier services, reach out to us today!</p>

                    <p class="mb-0"><a href="#Contact" class="btn btn-warning py-3 px-5 text-white">Contact Us</a></p>
                </div>
            </div>
        </div>
    </div>


  


</div>
<!-- .site-wrap -->
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}