@{
    ViewData["Title"] = "Home Page";
}

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>

                            </ol>
                        </div>
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->



            

            <div class="row justify-content-center">
                

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-success">

                        <h6 class="text-black font-weight-bold text-uppercase mt-0">Assigned Parcel</h6>
                        <h3 class="my-3"><span data-plugin="counterup">@ViewBag.TotalDispatched</span></h3>

                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-primary">

                        <h6 class="text-black font-weight-bold text-uppercase mt-0">
                            Total Delivery Complete

                        </h6>
                        <h3 class="my-3"><span data-plugin="counterup">@ViewBag.TotalDelivered</span></h3>

                    </div>
                </div>


            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-6 col-xl-3">

                    <div class="card-box tilebox-one bg-warning">

                        <h6 class="text-black font-weight-bold  text-uppercase mt-0">Total Cancelled Parcel</h6>
                        <h3 class="my-3" data-plugin="counterup">@ViewBag.TotalCancelled</h3>

                    </div>
                </div>

                <div class="col-md-6 col-xl-3">
                    <div class="card-box tilebox-one bg-success">

                        <h6 class="text-black font-weight-bold text-uppercase mt-0">Total Parcel</h6>
                        <h3 class="my-3"><span data-plugin="counterup">@ViewBag.TotalParcel</span></h3>

                    </div>
                </div>

                


            </div>
            <!-- end row -->

        </div> <!-- end container-fluid -->

    </div> <!-- end content -->





</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
